@model List<nunu_panel.Models.ServicioProveedorModel>
@{
    ViewData["Title"] = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" name="" id="searchInput" class="form-control" placeholder="Busca por servicio">
            </div>
            @* <form asp-controller="Servicios" asp-action="Index">
                <div class="groupSearch">
                    <svg class="iconSearch" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                            </path>
                        </g>
                    </svg>
                    <input value="" id="searchInput" name="searchTerm" placeholder="Busca por Servicios/ID"
                        type="search" class="inputSearch">
                </div>
            </form> *@
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="title-form">Servicios</h4>
            <div>
                @* <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#addModal">Añadir un servicio</button>
                <button type="button" class="btn btn-filter" data-bs-toggle="modal" data-bs-target="#filterModal">
                <i class="fas fa-filter"></i> <!-- Icono de filtro -->
                </button> *@
            </div>

        </div>
    </div>

    <div class="row">
        <div class="breadcrumb">
            <a href="/Servicios" class="breadcrumb-item active">Servicios</a> >
        </div>
        @* Mostrando @Model.Count *@
    </div>

    <div class="col-md-12 mt-3">
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th scope="col" class="">ID</th>
                    <th scope="col" class="">Servicio</th>
                    <th scope="col" class="">Proveedor</th>
                    <th scope="col" class="">Descripción</th>
                    <th scope="col" class="">Duración</th>
                    <th scope="col" class="">Valoración</th>
                    <th scope="col" class="">Imagen</th>
                    @* <th scope="col" class="">Categoria</th> *@
                    <th scope="col" class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servicio in Model)
                {
                    <tr>
                        <td class="td-first">@servicio.id_servicio</td>
                        <td class="td-middle">@servicio.tipo_servicio</td>
                        <td class="td-middle">@servicio.Proveedores.nombre_razon_social</td>
                        <td class="td-middle">@servicio.descripcion</td>
                        <td class="td-middle">@servicio.Duracion</td>
                        <td class="td-middle">@servicio.Rating/5</td>
                        <td class="td-middle"><a href="@servicio.imagen_servicio" target="_blank">Ver</a></td>
                        @* <td class="td-middle">@servicio.Categoria.CategoriaNombre</td> *@
                        <td class="td-end">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteUserModal"
                                        data-id="@servicio.id_servicio">Dar de baja</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Eliminar Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar a este Servicio?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="calificacionodalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bolder fs-3" id="estatusModalLabel">Calificación Del Servicio</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Nombre Del Servicio</label>
                    <input type="text" class="form-control" value="Nuevo" readonly>
                </div>
                <div class="form-group">
                    <label for="">Ciudad</label>
                    <input type="text" class="form-control" value="00/00" readonly>
                </div>
                <button class="btn btn-primary w-100">Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade modal-right" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rightModalLabel">Filtrar</h5>
                <button type="button" class="btn btn-link ms-auto me-3">Limpiar filtros</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="tipoCliente">Servicios</label>
                        <div class="input-group">
                            <select class="form-control" id="tipoCliente">
                                <option selected>Seleccionar...</option>
                                <option value="1">Cliente A</option>
                                <option value="2">Cliente B</option>
                                <option value="3">Cliente C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="estatus">Estatus</label>
                        <div class="input-group">
                            <select class="form-control" id="estatus">
                                <option selected>Seleccionar...</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                                <option value="3">Pendiente</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cumpleanos">Usuario</label>
                        <div class="input-group">
                            <div class="groupSearch">
                                <svg class="iconSearch" aria-hidden="true" viewBox="0 0 24 24">
                                    <g>
                                        <path
                                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                        </path>
                                    </g>
                                </svg>
                                <input value="" name="searchTerm" placeholder="Busca por usuario/ID" type="search"
                                    class="inputSearch">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cumpleanos">Proveedor</label>
                        <div class="input-group">
                            <div class="groupSearch">
                                <input value="" name="searchTerm" placeholder="Nombre" type="search"
                                    class="inputSearch">
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="filter-section">
                    <h6>Filtros aplicados</h6>
                    <div class="filters-applied">
                        <span class="tag">Tipo de Cliente <i class="fas fa-times close"></i></span>
                        <span class="tag">Buscar por Usuario <i class="fas fa-times close"></i></span>
                        <span class="tag">Estatus <i class="fas fa-times close"></i></span>
                    </div>
                </div>
                <button class="btn btn-primary w-100">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const table = document.querySelector('.table tbody');

        searchInput.addEventListener('keyup', function () {
            const searchTerm = searchInput.value.toLowerCase();
            const rows = table.querySelectorAll('tr');

            rows.forEach(function (row) {
                const idCell = row.querySelector('td:nth-child(1)');
                const nameCell = row.querySelector('td:nth-child(2)');

                const idText = idCell.textContent.toLowerCase();
                const nameText = nameCell.textContent.toLowerCase();

                if (idText.includes(searchTerm) || nameText.includes(searchTerm)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });


        const deleteUserModal = new bootstrap.Modal(document.getElementById('deleteUserModal'));
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        let userIdToDelete;

        document.querySelectorAll('[data-bs-toggle="modal"]').forEach(function (button) {
            button.addEventListener('click', function () {
                userIdToDelete = this.getAttribute('data-id');
            });
        });

        confirmDeleteButton.addEventListener('click', function () {
            fetch(`/Servicios/EliminarServicio?idServicio=${userIdToDelete}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        document.querySelector(`a[data-id="${userIdToDelete}"]`).closest('tr').remove();
                        deleteUserModal.hide();
                        const modalMessage = document.getElementById('modalMessage');
                        $('#successModal').modal('show');
                        modalMessage.innerText = data.message;
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>

@section Scripts {

    <script>
        inicializarTable('#dataTable');
        filtrar('#dataTable', '', '', '', '', '')
    </script>
}