
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">
    <div class="col mb-4">
        <div class="custom-card">
            <div class="card-button">
            </div>
            <div class="card-text">
                <div class="title">Usuarios:</div>
                <div class="value">@ViewBag.TotalUsuarios</div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="custom-card">
            <div class="card-button">
            </div>
            <div class="card-text">
                <div class="title">Anuncios:</div>
                <div class="value">@ViewBag.TotalAnuncios</div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="custom-card">
            <div class="card-button">
            </div>
            <div class="card-text">
                <div class="title">Proveedores:</div>
                <div class="value">@ViewBag.TotalProveedores</div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="custom-card">
            <div class="card-button">
            </div>
            <div class="card-text">
                <div class="title">Servicios:</div>
                <div class="value">@ViewBag.TotalServicios</div> 
            </div>
        </div>
    </div>
</div>

@* <div class="row ">
    <div class="col-12 col-md-2 text-center align-content-center">
        <span class="fw-bolder fs-5">Elige un servicio</span>
    </div>
    <div class="col-12 col-md-10">
        <select class="form-select">
            <option value="1">Carpintería</option>
        </select>
    </div>
</div>

<div class="custom-button mt-3">
    <div class="customLabel">
        <label for="temporalidadBtn">Temporalidad</label>
    </div>
    <button id="temporalidadBtn" class="btn customButtonLabel" data-bs-toggle="modal" data-bs-target="#temporalidadModal">        
        <span id="temporalidadLabel"></span>
    </button>
</div> *@

 <!-- Bar Chart -->
<div class="card shadow mb-4 mt-3">
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="myBarChart"></canvas> 
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="temporalidadModal" tabindex="-1" role="dialog" aria-labelledby="temporalidadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bolder fs-3" id="temporalidadModalLabel">Mensual</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="selectYear">Selecciona el año</label>
                    <select id="selectYear" class="form-control">
                        <!-- JavaScript will populate the options -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectMonth">Selecciona el mes</label>
                    <select id="selectMonth" class="form-control">
                        <!-- JavaScript will populate the options -->
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel modal-TwoButtons" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-apply modal-TwoButtons" id="applyBtn">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const currentDate = new Date();
        const currentYear = currentDate.getFullYear();
        const currentMonth = currentDate.toLocaleString('default', { month: 'long' });
        const yearSelect = document.getElementById('selectYear');
        const monthSelect = document.getElementById('selectMonth');
        const temporalidadLabel = document.getElementById('temporalidadLabel');

        for (let i = currentYear; i >= currentYear - 2; i--) {
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            yearSelect.appendChild(option);
        }

        const months = [
            'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 
            'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
        ];
        months.forEach((month, index) => {
            const option = document.createElement('option');
            option.value = index + 1;
            option.textContent = month;
            monthSelect.appendChild(option);
        });

        yearSelect.value = currentYear;
        monthSelect.value = currentDate.getMonth() + 1; 

        temporalidadLabel.textContent = `${currentMonth}-${currentYear}`;

        document.getElementById('applyBtn').addEventListener('click', () => {
            const selectedYear = yearSelect.value;
            const selectedMonthIndex = monthSelect.value - 1;
            const selectedMonth = months[selectedMonthIndex];
            temporalidadLabel.textContent = `${selectedMonth}-${selectedYear}`;
            $('#temporalidadModal').modal('hide');
        });
    });
    var users = @ViewBag.TotalUsuarios;
    var anuncios = @ViewBag.TotalAnuncios;
    var provs = @ViewBag.TotalProveedores;
    var services = @ViewBag.TotalServicios;
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/chart-bar-demo.js"></script>